<!DOCTYPE html>
<html lang="en">
<head>
  <title>Capturing all the flags</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<body>
<div class="container">
  <h4>Greetings! Congratulations on reaching so far. Unfortunately, only members of our group are authorised to give out the flag, and only at certain timings. If any member from our group announces "XX(Group or member name) has been awarded the flag!", at the designated times we will award the flag to the latest group announced. You may search for the designated timings in Mother Goose.</h4>
  <h4> *P.S. Part 5 is now compulsory, after the injection attack, please privately tell us the timing you decrypted from part 5 to be awarded the flag. Also, please screenshot your injection attack as prove in case of server fault. We apologize for the inconvenience.</h4>
  <h2>Post Comments</h2>
  <form action="/news" method="get">
    <div class="form-group">
      <input type="text" name="text" class="form-control" id="text" placeholder="Enter news">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form> {{error2}}
</div>

{% if news%}
<div class="container">
  <h3>Comments</h3>
  <ul>
{% for item in news -%}
    <li>{{ item[0] }} says: {{item[1]|safe}}</li>
{%- endfor %}
</ul>
</div>
{% endif %}


{% endblock %}
</body>
</html>
